# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Dependencies
node_modules/

# Environment variables
.env

# System files
.DS_Store

# Build output
build/
dist/

# IDEs and Editors
.idea/
.vscode/

#Testing
coverage/

# TypeScript
*.tsbuildinfo

# Cache files
.cache/